// @import '~@angular/material/theming';
// @include mat-core();
// $sample-material-app-primary: mat-palette($mat-indigo);
// $sample-material-app-accent: mat-palette($mat-pink, A200, A100, A400);
// $sample-material-app-warn: mat-palette($mat-red);
// $sample-material-app-theme: mat-light-theme($sample-material-app-primary, $sample-material-app-accent, $sample-material-app-warn);
// $background: map-get($sample-material-app-theme, background);
// $bg-color: white;//#746d86;
// $background: map_merge($background, (background: $bg-color, card: $bg-color, dialog:$bg-color));
// $theme: map_merge($sample-material-app-theme, (background: $background));
// @include angular-material-theme($theme);
// @include mat-paginator-theme($theme);

.poke-card{
    background-color: #1f1236 !important;
}

.normal{
    background-color: rgb(196, 135, 145);
    // box-shadow: 0 0 5px rgb(196, 135, 145);
    box-shadow: 0 0 5px rgb(204, 173, 177);
}

.fighting{
    background-color: orangered;
    box-shadow: 0 0 5px orangered;
}
.flying{
    background-color: #88a3d4;
    box-shadow: 0 0 5px #93a8cf;
}
.poison{
    background-color: purple;
    box-shadow: 0 0 5px rgb(126, 41, 126);
}
.ground{
    background-color: #986a00;
    box-shadow: 0 0 5px #986a00;
}
.rock{
    background-color: rgb(75, 45, 45);
    box-shadow: 0 0 5px rgb(78, 59, 59);
}
.bug{
    background-color: teal;
    box-shadow: 0 0 5px rgb(53, 116, 116);
}
.ghost{
    background-color: rgb(61, 61, 61);
    box-shadow: 0 0 5px rgb(107, 107, 107);
}
.steel{
    background-color: #6699cc;
    box-shadow: 0 0 5px #83a7ca;
}
.fire{
    background-color: red;
    box-shadow: 0 0 5px rgb(247, 120, 120);
}
.water{
    background-color: rgb(0, 150, 250);
    box-shadow: 0 0 5px rgb(72, 170, 235);
}
.grass{
    background-color: green;
    box-shadow: 0 0 5px rgb(58, 121, 58);
}
.electric{
    background-color: goldenrod;
    box-shadow: 0 0 5px goldenrod;
}
.psychic{
    background-color: rgb(141, 141, 5);
    box-shadow: 0 0 5px rgb(141, 141, 5);
}
.ice{
    background-color: #47c0f0;
    box-shadow: 0 0 5px #71c8eb;
}
.dragon{
    background-color: brown;
    box-shadow: 0 0 5px rgb(163, 66, 66);
}
.dark{
    background-color: rgb(18, 1, 41);
    box-shadow: 0 0 5px gray;
}
.fairy{
    background-color: rgb(250, 57, 160);
    box-shadow: 0 0 5px rgb(248, 67, 164);
}
.unknown{
    background-color: white;
    box-shadow: 0 0 5px white;
    color: black;
}
.shadow{
    background-color: grey;
    box-shadow: 0 0 5px rgb(184, 183, 183) !important;
}

mat-card:hover{
    transform: translateY(-2px);
    transition: ease-in-out;
    box-shadow: 0px 0px 3px 10px darkslateblue !important;
}

@keyframes rotating {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

mat-card:hover .poke-ball{
    animation: rotating 1s linear infinite;
}